body
{
    background-color: #DDDDDD;
}

.EnterForm 
{
    display: flex;
    margin-left: 500px;
    margin-top: 300px;
    flex-direction: column;
}

.InputEmail, .InputPassword
{
    width: 300px;
}

.ButtonSignin, .ButtonSignup
{
    width: 150px;
    margin-top: 20px;
}